In [1]:
import pandas as pd
restaurants_df = pd.read_csv('Restaurants.csv')
license_df = pd.read_csv('Liquor_Licenses.csv')
license_df.rename(columns = {'street_address':'Address', 'dba':'Name'}, inplace = True)

In [14]:
all_df = pd.merge(restaurants_df, license_df, how='outer', on='Address')
all_df = all_df.drop_duplicates(
  subset = ['Name_x', 'Address'],
  keep = 'last').reset_index(drop = True)
all_df = all_df[~all_df['Name_x'].isna()]
all_df

all_df[['Name_x', 'Name_y', 'Address']]

                                   Name_x Name_y                Address
0                       1509 Populace LLC    NaN       1509 Broadway St
1            Albena- Taste Everything LLC    NaN       1509 Broadway St
2     HMWW Food LLC dba Karl's The Siren     NaN       1509 Broadway St
3          The Wurlitzer MT DBA Candy Bar    NaN       1509 Broadway St
4                    1917 American Bistro    NaN        19416 Livernois
...                                   ...    ...                    ...
2347           They Say/Dunco Holding LLC    NaN  267 Joseph Campau Ave
2348                  Thirkell Elementary    NaN     7724 Fourteenth St
2349         Thurgood Marshall Elementary    NaN       15531 Linwood St
2350   Tijuana's Authenic Mexican Kitchen    NaN          18940 Ford Rd
2351                         Tim Horton's    NaN      15340 Wyoming Ave

[2352 rows x 3 columns]

Empty DataFrame
Columns: [X, Y, Establishment_ID, Name, Address, Zip_Code, Owner, License_Number, License_Type, Most_Recent_License_Date, Establishment_Type, Status, Restaurant_Complexity_Level, Review_Frequency_in_Days, ObjectId]
Index: []