In [6]:
#pip install yelp
!pip install word2number

Requirement already satisfied: word2number in /opt/conda/lib/python3.7/site-packages (1.1)

In [ ]:
!pip install word2number
import requests
import pandas as pd
import json
from word2number import w2n
import numpy as np
from IPython.display import clear_output
import pickle

%load_ext sql
%sql postgresql://jovyan:si330studentuser@localhost/si330
def read_data():
    restaurants_df = pd.read_csv('Restaurants.csv')
    license_df = pd.read_csv('Liquor_Licenses.csv')
    restaurants_df.rename(columns = {'X':'Latitude', 'Y':'Longitude'}, inplace = True)
    license_df.rename(columns = {'street_address':'Address', 'dba':'Name', 'X':'Latitude', 'Y':'Longitude'}, inplace = True)
    return restaurants_df,license_df

def cleanAndMerge(restaurants_df,license_df):
    all_df = pd.merge(restaurants_df, license_df, how='outer', on='Address')
    all_df = all_df.drop_duplicates(
      subset = ['Name_x', 'Address'],
      keep = 'last').reset_index(drop = True)
    all_df = all_df[~all_df['Name_x'].isna()] #get rid of places that are not restaurants
    all_df.loc[all_df['number'].isna()==True, 'Serve_Liquor'] = "FALSE" #create new column, number stands for liquor license number
    all_df.loc[all_df['number'].isna()==False, 'Serve_Liquor'] = "TRUE"
    all_df['Most_Recent_License_Date']=pd.to_datetime(all_df['Most_Recent_License_Date'])
    all_df=all_df[all_df['Most_Recent_License_Date']>'2014'] #only want data from 2015 forward
    return all_df

def callapi(term):
    url='https://api.yelp.com/v3/businesses/search'
    apikey="jewuQyQCl6xfKXLDhtaFI2xD602_A4yIS37P7DnfFk5EO6JllvzFexgI1fjSTTa2WboOr58Ur7uWm8JO8lAfxemm8HAQrnrJ39Ktfn14zrBiQ_wrkqKrb2drxRhlYHYx"
    headers = {'Authorization': 'Bearer %s' % apikey}
    params = {'Authorization':apikey,'term':term,'location':'Detroit'}
    ref=requests.get(url,params=params,headers=headers)
    return json.loads(ref.text)
    
def makeaddress(x): #data cleaning, matching yelp addresses, so needed to do this
    address=x.split(' ')
    address1=address[0]
    address2=address[1]
    if len(address[1])<2:
        address2=address[2]
    if ('Second' in address2):
        address2='2nd'
    if ('Third' in address2):
        address2='3rd'
    try:
        address2=str(w2n.word_to_num(address2))
    except:
        address2=address2.upper()
    if address1+' '+address2=='1 PARK':
        address1='ONE'

    return address1+' '+address2

def splitadd(ogadd): #if there is a hyphen in the house # do this
    split1=ogadd.split('-')
    try:
        firstnum=split1[0]
        secondnum=split1[1].split(' ')[0]
        newfirst=firstnum+' '+split1[1].split(' ')[1]
        newsecond=firstnum[:-len(secondnum)]+secondnum+' '+split1[1].split(' ')[1]
        return[newfirst,newsecond]
    except:
        return[ogadd]

def sortdata(apidic,dfaddress,yelpbool=False):
    #print('dfaddy: ',dfaddress)
    if yelpbool: #for the test cases
        try:
            yelpaddress=apidic['businesses'][0]['location']['address1']
            #print('yelpaddy: ',yelpaddress)
        except:
            yelpaddress=np.nan
        if yelpaddress ==dfaddress:
            try:
                rating=apidic['businesses'][0]['rating']
                #print(' found rating')
            except:
                rating=np.nan
            try:
                price=apidic['businesses'][0]['price']
                #print(' found price')
            except:
                price=np.nan
        else:
            price,rating=np.nan,np.nan
    else:
        try:
            yelpaddress=makeaddress(apidic['businesses'][0]['location']['address1'])
        except:
            yelpaddress=np.nan
        #print('yelpaddy: ',yelpaddress)
        try: #for the test cases
            dfaddress=makeaddress(dfaddress)
        except:
            pass
        if yelpaddress in dfaddress:
            try:
                rating=apidic['businesses'][0]['rating']
                #print(' found rating')
            except:
                rating=np.nan
            try:
                price=apidic['businesses'][0]['price']
                #print(' found price')
            except:
                price=np.nan
        else:
            price,rating=np.nan,np.nan
    return(rating,price)
def sqlmaker(row,dfrating,dfprice):
    pdic={}
    pdic[np.nan]=1
    try:
        existingprices=%sql select * from "price"
        for x in existingprices:
            pdic[x[1]]=x[0]
        #print('tables exist')
        clear_output()
    except:
        #print('dropping tables')
        %sql drop table if exists "price" cascade
        %sql drop table if exists "restaurant" cascade
        %sql create table "price" ("id" int,"price" varchar(255),PRIMARY KEY("id"))
        %sql CREATE TABLE "restaurant" ("name" varchar(255),"lat" float,"long" float,"address" varchar(255),"servesl" bool,"price_id" int,"rating" float, PRIMARY KEY("name","address"),  FOREIGN KEY("price_id") REFERENCES "price"("id"));
        nan=np.nan
        %sql insert into "price" ("id","price") values (1,:nan)
        print('created tables')
    name=row.loc['Name_x']
    address=row.loc['Address']
    lat=row.loc['Latitude_x']
    long=row.loc['Longitude_x']
    servesl=row.loc['Serve_Liquor']
    try:
        #print(dfprice)
        np.isnan(dfprice)
        price_id=1
    except:     
        if dfprice in pdic:
            #print('old value',pdic,dfprice)
            price_id=pdic[dfprice]
        else:
            #print('newvalue',dfprice)
            price_id=len(pdic)+1
            price=dfprice
            %sql insert into "price" ("id","price") values (:price_id,:price)
    try: 
        %sql INSERT INTO "restaurant" ("name","lat","long","address","servesl","price_id","rating") VALUES (:name,:lat,:long,:address,:servesl,:price_id,:dfrating);
    except:
        logs.append([name,address,lat,long,price_id,dfrating])
        
def yelper(y):
    dfname=y['Name_x']
    dfaddress=makeaddress(y['Address'])
    if '-' in dfaddress:
        dfaddress=splitadd(dfaddress)
    else:
        dfaddress=[dfaddress]

    yelpdic=callapi(dfname)
    rating,price=sortdata(yelpdic,dfaddress)
    sqlmaker(y,rating,price)
    return rating,price
logs=[]
restaurants_df,license_df=read_data()
all_df=cleanAndMerge(restaurants_df,license_df)
# all_df=all_df
all_df[['review','price']]=all_df.apply(yelper,axis=1).apply(pd.Series)
all_df.to_pickle("./alldf.pkl")
#all_df=pd.read_pickle('./alldf.pkl')
logs #prints out data that could not be put into sql database

 * postgresql://jovyan:***@localhost/si330
1 rows affected.

In [3]:
#TESTING
import pandas.api.types as ptypes
def test_read_data():
    assert len(read_data()) == 2
    assert type(read_data()[0]) == pd.DataFrame
    assert type(read_data()[1]) == pd.DataFrame
    assert "Latitude" in read_data()[0]
    assert "Address" in read_data()[1]

def test_cleanAndMerge():
    assert isinstance(cleanAndMerge(restaurants_df,license_df), pd.DataFrame)
    assert ptypes.is_datetime64_any_dtype(cleanAndMerge(restaurants_df,license_df)['Most_Recent_License_Date'])
    assert "Serve_Liquor" in cleanAndMerge(restaurants_df,license_df)

def test_callapi():
    assert isinstance(callapi(cleanAndMerge(restaurants_df,license_df)['Name_x'][0]), dict)
    assert "rating" in callapi('The Whitney Restaurant')['businesses'][0]
    assert "price" in callapi('Al Baraka Restaurant')['businesses'][0]
    
def test_makeaddress():
    assert isinstance(makeaddress('4219 Woodward Ave'), str)
    assert makeaddress('7625 Michigan Ave') == '7625 MICHIGAN'
    assert makeaddress('1509 Second St') == '1509 2ND'
    assert makeaddress('1 park') == 'ONE PARK'
    
def test_splitadd():
    assert isinstance(splitadd('441 Grand River Ave'), list)
    assert splitadd('125-29 Michigan Ave') == ['125 Michigan', '129 Michigan']
    assert splitadd('2690 E Jefferson Ave') == ['2690 E Jefferson Ave']
    assert splitadd('2727-31 Russell St') == ['2727 Russell', '2731 Russell']

def test_sortdata():
    assert sortdata(callapi('-320 Coffee & Creamery'),'474 Peterboro Street #201',False) == (4.5, '$$')
    assert sortdata(callapi('-320 Coffee & Creamery'),'474 Peterboro Street #201',True) == (np.nan, np.nan)
    #shows that makeaddress was necessary as Yelp could not search this address without it


def test_sqlmaker():
    restaurant_exist = %sql SELECT EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'restaurant')
    price_exist = %sql SELECT EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'price')    
    assert restaurant_exist[0][0] == True
    assert price_exist[0][0] == True
    len_multiple=%sql SELECT name FROM "restaurant" where name='Asian Corned Beef'
    assert len(len_multiple)  !=1  #makes sure the primary key combination is working
    
    
#yelper just calls all these functions so im not sure if we'll need a test_yelper?
    
    
    
test_read_data()
test_cleanAndMerge()
test_callapi()
test_makeaddress()
test_splitadd()
test_sortdata()
test_sqlmaker()

 * postgresql://jovyan:***@localhost/si330
1 rows affected.
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
 * postgresql://jovyan:***@localhost/si330
0 rows affected.

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.patches as mpatches
host="localhost"
dbname="si330"
user="jovyan"
password="si330studentuser"

import psycopg2
conn = psycopg2.connect(host=host,dbname=dbname, user=user, password=password)
cursor = conn.cursor()
conn.autocommit=True

In [5]:
query1="""select avg(rating), count(*) from restaurant where servesl='False' and rating != 'nan' GROUP BY rating order by count(*) ASC"""
cursor.execute(query1)
false = cursor.fetchall()
query2="""select avg(rating), count(*) from restaurant where servesl='True' and rating != 'nan' GROUP BY rating order by count(*) ASC"""
cursor.execute(query2)
true = cursor.fetchall()
rating1, count1 = zip(*false)
rating2, count2 = zip(*true)
plt.bar(rating1, count1, width=0.4)
plt.ylabel('count')
plt.xlabel('yelp_rating')
plt.xlim([1, 5.5])
plt.bar(rating2, count2, width=0.4)
plt.title('Ratings for Detroit Restaurants')
blue_patch = mpatches.Patch(color='blue', label='Do Not Serve Liquor')
orange_patch = mpatches.Patch(color='orange', label='Serve Liquor')
plt.legend(handles=[blue_patch, orange_patch])

ValueError: not enough values to unpack (expected 2, got 0)

In [ ]:
query1="""select avg(rating) from restaurant where servesl='False' and rating != 'nan'"""
cursor.execute(query1)
false = cursor.fetchall()
query2="""select avg(rating) from restaurant where servesl='True' and rating != 'nan'"""
cursor.execute(query2)
true = cursor.fetchall()
rating1 = false[0][0]
rating2 = true[0][0]
plt.ylabel('average_yelp_rating')
plt.xlabel('restaurants')
plt.title('Ratings for Detroit Restaurants')
plt.bar('Do Not Serve Liquor', rating1, width=0.3)
plt.bar('Serve Liquor', rating2, width=0.3)

In [ ]:
def statisticalTesting():
    from scipy import stats
    import seaborn as sns
    df_alc= %sql select rating from "restaurant" where servesl=True and rating !='nan';
    df_nonalc = %sql select rating from "restaurant" where servesl=False and rating !='nan';
    stats.levene(df_alc.DataFrame()['rating'],df_nonalc.DataFrame()['rating'])
    #small p value says they do not have equal variances, thus use equal_var=False
    
    %sql select servesl, avg(rating) from "restaurant" where servesl=True and rating !='nan' group by servesl;
    #gets mean value ^
    sns.displot(data=df_alc.DataFrame(), x="rating") #looks normal, slightly skewed but unimodal
    stats.shapiro(df_alc.DataFrame()['rating']) # this test shows relative nonnormality
    len(df_alc) #but because the sample size is so great we can assume normality
    
    %sql select servesl, avg(rating) from "restaurant" where servesl=False and rating !='nan' group by servesl; 
    #gets mean value ^
    sns.displot(data=df_nonalc.DataFrame(), x="rating") #plot them, looks relativly normal and unimodal
    stats.shapiro(df_nonalc.DataFrame()['rating']) #this test checks for normality, and the results are that our data are nonnormal
    len(df_nonalc) #but because the sample size is so great we can assume normality
    
    pvalue=stats.ttest_ind(df_alc.DataFrame()['rating'],df_nonalc.DataFrame()['rating'],equal_var=False)[1]
    return pvalue
statisticalTesting()

In [ ]:
%%html
<iframe src="ranalysis.png" width="600" height="400"></iframe>

I did both a two sided test and a one sided test. cannot doa one sided test in python for some reason so put the data into r and did a one sided welch test there. results can be seen above. Both are statistically significant, so the results are statistically significant at the .05% level. The means are  different, and the mean of restaurants that dont serve alcohol is  less than the mean rating of restaurants that do serve alcohol at the .05% significance level. This is an interesting result. Also of interest. The R statistical one sided test P=value was exactly half of the value returned by python. Previously in a homework, we were told you could not change the test from two-sided to one sided like this, but it worked in this senario. The accuracy was to the millionths place (rounded).