In [1]:
#pip install yelp
#!pip install word2number

In [2]:
import pandas as pd
restaurants_df = pd.read_csv('Restaurants.csv')
license_df = pd.read_csv('Liquor_Licenses.csv')
restaurants_df.rename(columns = {'X':'Latitude', 'Y':'Longitude'}, inplace = True)
license_df.rename(columns = {'street_address':'Address', 'dba':'Name', 'X':'Latitude', 'Y':'Longitude'}, inplace = True)

In [5]:
all_df = pd.merge(restaurants_df, license_df, how='outer', on='Address')
all_df = all_df.drop_duplicates(
  subset = ['Name_x', 'Address'],
  keep = 'last').reset_index(drop = True)
all_df = all_df[~all_df['Name_x'].isna()] #get rid of places that are not restaurants
all_df.head()

,Latitude_x,Longitude_x,Establishment_ID,Name_x,Address,Zip_Code,Owner,License_Number,License_Type,Most_Recent_License_Date,...,zip_code,group_,type,subtype,statute,number,status,ownership_transferable,location_transferable,ObjectId_y
0,-83.048647,42.335696,51622592.0,1509 Populace LLC,1509 Broadway St,48226,Populace Coffee/Andrew Heppner,226550,Fixed Establishment,2019/04/27 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-83.048647,42.335696,51622594.0,Albena- Taste Everything LLC,1509 Broadway St,48226,Garrett Lipar,229298,Fixed Establishment,2019/04/26 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-83.048647,42.335696,51622842.0,HMWW Food LLC dba Karl's The Siren,1509 Broadway St,48226,Matt Wang,238151,Fixed Establishment,2019/04/16 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-83.048647,42.335696,51622595.0,The Wurlitzer MT DBA Candy Bar,1509 Broadway St,48226,HM Ventures 6,229302,Fixed Establishment,2019/04/16 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-83.141277,42.435563,3928.0,1917 American Bistro,19416 Livernois,48221,Donald Studvent,065464,Fixed Establishment,2013/04/30 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import requests
import json
from word2number import w2n
import numpy as np

def callapi(term):
    url='https://api.yelp.com/v3/businesses/search'
    apikey="jewuQyQCl6xfKXLDhtaFI2xD602_A4yIS37P7DnfFk5EO6JllvzFexgI1fjSTTa2WboOr58Ur7uWm8JO8lAfxemm8HAQrnrJ39Ktfn14zrBiQ_wrkqKrb2drxRhlYHYx"
    headers = {'Authorization': 'Bearer %s' % apikey}
    params = {'Authorization':apikey,'term':term,'location':'Detroit'}
    ref=requests.get(url,params=params,headers=headers)
    return json.loads(ref.text)
    
def makeaddress(x): #data cleaning, matching yelp addresses, so neede dto do this
    address=x.split(' ')
    address1=address[0]
    address2=address[1]
    if len(address[1])<2:
        address2=address[2]
    if ('Second' in address2):
        address2='2nd'
    if ('Third' in address2):
        address2='3rd'
    try:
        address2=str(w2n.word_to_num(address2))
    except:
        address2=address2.upper()
    if address1+' '+address2=='1 park':
        address1=one

    return address1+' '+address2

def splitadd(ogadd): #if there is a hyphen in the house # do this
    split1=ogadd.split('-')
    try:
        firstnum=split1[0]
        secondnum=split1[1].split(' ')[0]
        newfirst=firstnum+' '+split1[1].split(' ')[1]
        newsecond=firstnum[:-len(secondnum)]+secondnum+' '+split1[1].split(' ')[1]
        return[newfirst,newsecond]
    except:
        return[ogadd]

def sortdata(apidic,dfaddress):
    #print('dfaddy: ',dfaddress)
    try:
        yelpaddress=makeaddress(apidic['businesses'][0]['location']['address1'])
        #print('yelpaddy: ',yelpaddress)
    except:
        yelpaddress=np.nan
    if yelpaddress in dfaddress:
        try:
            rating=apidic['businesses'][0]['rating']
            #print(' found rating')
        except:
            rating=np.nan
        try:
            price=apidic['businesses'][0]['price']
            #print(' found price')
        except:
            price=np.nan
    else:
        price,rating=np.nan,np.nan
    return(rating,price)

def yelper(y):
    dfname=y['Name_x']
    dfaddress=makeaddress(y['Address'])
    if '-' in dfaddress:
        dfaddress=splitadd(dfaddress)
    else:
        dfaddress=[dfaddress]

    yelpdic=callapi(dfname)
    rating,price=sortdata(yelpdic,dfaddress)
    return rating,price

all_df=all_df.head(20)
all_df[['review','price']]=all_df.apply(yelper,axis=1).apply(pd.Series)
all_df.head()

,Latitude_x,Longitude_x,Establishment_ID,Name_x,Address,Zip_Code,Owner,License_Number,License_Type,Most_Recent_License_Date,...,type,subtype,statute,number,status,ownership_transferable,location_transferable,ObjectId_y,review,price
0,-83.048647,42.335696,51622592.0,1509 Populace LLC,1509 Broadway St,48226,Populace Coffee/Andrew Heppner,226550,Fixed Establishment,2019/04/27 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-83.048647,42.335696,51622594.0,Albena- Taste Everything LLC,1509 Broadway St,48226,Garrett Lipar,229298,Fixed Establishment,2019/04/26 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-83.048647,42.335696,51622842.0,HMWW Food LLC dba Karl's The Siren,1509 Broadway St,48226,Matt Wang,238151,Fixed Establishment,2019/04/16 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-83.048647,42.335696,51622595.0,The Wurlitzer MT DBA Candy Bar,1509 Broadway St,48226,HM Ventures 6,229302,Fixed Establishment,2019/04/16 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-83.141277,42.435563,3928.0,1917 American Bistro,19416 Livernois,48221,Donald Studvent,065464,Fixed Establishment,2013/04/30 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-83.167389,42.379641,3153.0,1st Wok,12555 Grand River Ave #150,48204,Ang Lam,047622,Fixed Establishment,1970/01/01 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-83.048753,42.342411,5248.0,234 Winder St. Inn Community Center,2458 Brush St,48201,Mona Ross/ Gardner,217906,Fixed Establishment,2018/05/07 00:00:00+00,...,Specially Designated Merchant,NaN,MCL 436.1533(5)(a),L-000434839,Escrow,Y,N,1085.0,NaN,NaN
7,-83.048753,42.342411,51623047.0,Brush St. Stadium Deli,2458 Brush St,48201,Mona Ross Gardner,239989,Fixed Establishment,2020/04/03 00:00:00+00,...,Specially Designated Merchant,NaN,MCL 436.1533(5)(a),L-000434839,Escrow,Y,N,1085.0,NaN,NaN
8,-83.048428,42.331710,3622.0,24 Grille,204 Michigan Ave,48226,Bistro 24 LLC,064219,Fixed Establishment,2019/04/29 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,$$$
9,-83.061432,42.351782,5276.0,2941 Street Foods of Midtown,4219 Woodward Ave,48201,Jacques Van Staden,208218,Fixed Establishment,2019/06/12 00:00:00+00,...,Class C,Regular,NaN,L-000272282,Escrow,Y,Y,1209.0,NaN,NaN
10,-83.061672,42.344223,51622714.0,-320 Coffee & Creamery,474 Peterboro Street #201,48201,Nisharth Patel,230540,Fixed Establishment,2018/03/09 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,$$
11,-83.255091,42.342104,542.0,3 ELEVEN ULTRA LOUNGE,22100 W Warren Ave,48239,NaN,080852,Fixed Establishment,1970/01/01 00:00:00+00,...,Specially Designated Merchant,NaN,NaN,L-000157308,Escrow,Y,Y,750.0,NaN,NaN
12,-83.184980,42.444889,5157.0,44 Burrito,14015 W Eight Mile Rd,48235,Tara L. Young/ Natasha Jones,082496,Fixed Establishment,1970/01/01 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,$
13,-83.024385,42.435672,51622515.0,4 of a Kind Catering,19153 Van Dyke Ave,48234,Jerold L. Vernon,217899,Fixed Establishment,1970/01/01 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,-83.046359,42.334099,4869.0,7 Greens,1222 Library St,48226,Kelly Schaefer-Janssen,081153,Fixed Establishment,2019/04/29 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,$$
15,-83.046848,42.331557,5392.0,800 Parc,800 Woodward Ave,48226,800 Parc LLC,209354,Fixed Establishment,2020/05/11 00:00:00+00,...,Specially Designated Merchant,NaN,NaN,L-000263234,Active,Y,Y,1511.0,NaN,NaN
16,-83.046848,42.331557,5268.0,The Fountain Detroit,800 Woodward Ave,48226,800 Parc LLC,202853,Fixed Establishment,2020/05/13 00:00:00+00,...,Specially Designated Merchant,NaN,NaN,L-000263234,Active,Y,Y,1511.0,3.0,$$
17,-82.990746,42.351180,2497.0,8330 on the River,8330 E Jefferson Ave,48214,POAH - Preservation of Afforda,073412,Fixed Establishment,2019/04/26 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,-83.150993,42.445833,2079.0,8 Mile Grill,8003-05 W Eight Mile Rd,48221,Anton Marjauam,071989,Fixed Establishment,1970/01/01 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
19,-83.212163,42.372535,5357.0,A 1 Fish & Chicken LLC,16900 Plymouth,48212,Hnsar M. Almugari,208176,Fixed Establishment,1970/01/01 00:00:00+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:

all_df.loc[all_df['number'].isna()==True, 'Serve_Liquor'] = "TRUE" #create new column, number stands for liquor license number
all_df.loc[all_df['number'].isna()==False, 'Serve_Liquor'] = "FALSE"

%reload_ext sql
%load_ext sql
%sql postgresql://jovyan:si330studentuser@localhost/si330
def sqlmaker(row):
    pdic={}
    pdic[np.nan]=1
    try:
        existingprices=%sql select * from "price"
        for x in existingprices:
            pdic[x[1]]=x[0]
        #print('tables exist')
    except:
        #print('dropping tables')
        %sql drop table if exists "price" cascade
        %sql drop table if exists "restaurant" cascade
        %sql create table "price" ("id" int,"price" varchar(255),PRIMARY KEY("id"))
        %sql CREATE TABLE "restaurant" ("name" varchar(255),"lat" float,"long" float,"servesl" bool,"price_id" int,"rating" float, PRIMARY KEY("name"),  FOREIGN KEY("price_id") REFERENCES "price"("id"));
        %sql insert into "price" ("id","price") values (1,:nan)
        print('created table')
    nan=np.nan
    name=row.loc['Name_x']
    lat=row.loc['Latitude_x']
    long=row.loc['Longitude_x']
    servesl=row.loc['Serve_Liquor']
    rating=row.loc['review']
    try:
        np.isnan(row.loc['price'])
        price_id=1
    except:     
        if row.loc['price'] in pdic:
            print('old value',pdic,row.loc['price'])
            price_id=pdic[row.loc['price']]
        else:
            print('newvalue',row.loc['price'])
            price_id=len(pdic)+1
            price=row.loc['price']
            %sql insert into "price" ("id","price") values (:price_id,:price)
    try:
        %sql INSERT INTO "restaurant" ("name","lat","long","servesl","price_id","rating") VALUES (:name,:lat,:long,:servesl,:price_id,:rating);
    except:
        print('error')
        
        
all_df.apply(sqlmaker,axis=1)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
old value {nan: 1, '$$$': 2, '$$': 3, '$': 4, 'NaN': 1} $$$
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
old value {nan: 1, '$$$': 2, '$$': 3, '$': 4, 'NaN': 1} $$
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
old value {nan: 1, '$$$': 2, '$$': 3, '$': 4, 'NaN': 1} $
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
old value {nan: 1, '$$$': 2, '$$': 3, '$': 4, 'NaN': 1} $$
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
old value {nan: 1, '$$$': 2, '$$': 3, '$': 4, 'NaN': 1} $$
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
4 rows affected.
   postgres://jovyan:***@localhost:5432/si330
 * postgresql://jovyan:***@localhost/si330
1 rows affected.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
dtype: object